/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px 10px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(120%);
    opacity: 0;
    margin-left: 10px;
    width: 80%;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}

.cart{
    color: #fff;
    font-weight: bold;
    background-color: var(--main-color);
    padding: 1px 5px;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: 0;
}
.category , .brand , .subcategories{
    transition: .5s;
}
.category:hover , .brand:hover , .subcategories:hover{
    box-shadow: 0 0 10px 1px black;
}
.eye{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}
.sale{
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    padding: 4px;
    color: white;
    font-weight: bold;
    border-radius:0px 0px   20px 20px;
}
.img ,.imgs{
    height: 400px;
}