li{
    cursor: pointer;
}
.logout{
    cursor: pointer;
}
.cart::after{
    content: "";
    width: 200px;
    height: 200px;
    background: #09c;
    position: absolute;
    top: 0;
    right: 0;
}